*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgb(241, 72, 72), aqua, rgb(255, 234, 234));
    /* background: linear-gradient(#FFECC0,#FFC29B,#F39F9F,#B95E82); */
    /* background: linear-gradient(135deg, #89f7fe, #66a6ff); */
     /* background: linear-gradient(120deg, #f6d365, #fda085); */
     /* background: linear-gradient(135deg, #0f2527, #203a43, #2c5364); */
    
    /* background: linear-gradient(136deg, rgb(241, 72, 72), aqua, rgb(255, 234, 234)); */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    background: linear-gradient(#696FC7,#A7AAE1,#F5D3C4,#F2AEBB);
        /* background: linear-gradient(136deg, aqua, white, rgb(224, 123, 123)); */
          box-shadow: 20px/*left side*/ 20px/*right side*/ 20px/*for blur*/ rgb(136, 84, 97);  /*alpha = opecity */
    width: 100%;
    max-width: 450px;
    margin: 40px auto 20px;
    padding: 40px  20px 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

input{

    padding: 8px;
    margin: 20px;
    /* border-top: 2px solid green; */
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(17, 0, 0);
    background: rgba(161, 13, 13, 0.078);
     box-shadow: 10px 10px 20px rgb(227, 106, 136);  
    
    /* outline: none; */
}

input:hover{
    background: rgb(221, 166, 166);
}

button{
    padding: 8px;
    margin: 2px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
     background: linear-gradient(90deg, #00ffd0, #0078ff);
    cursor: pointer;
    transition: 0.4s;
    
}

button:hover{
      background: #6bcd72;
      transform: scale(1.05);
    box-shadow: 0 0 10px #00ffd0;
}

.text ul {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    /* justify-content: center; */
    color: blue;
    background-color: rgb(144, 233, 144);
    border-radius: 10px;
     box-shadow: 10px 10px 20px rgb(53, 212, 77);  
     overflow-wrap: anywhere;
   

}


.text ul i{
     background-color: yellow;
     border-radius: 50%;
     text-align: center;
     justify-content: center;
     cursor: pointer;
    
    
}

.text ul .edit:hover{
     background: rgb(103, 239, 105) ;
     
}


.text ul .edit{
   margin-right: 10px;

}

.text ul div {
    display: flex;
    gap: 10px;
}

.text ul.completed {
    text-decoration: line-through;     
    color: gray;                       
    position: relative;
}

.text ul.completed::before {
    content: '✔️';
    position: absolute;
    left: -25px;                       
    font-size: 18px;
}

.text ul i:hover{
        background: red;
}

.text ul .delete:hover {
    color: #8e6969;
    transform: scale(1.3) rotate(10deg);
    text-shadow: 0 0 10px #c5a7a7;
}


.text ul .edit:hover {
    color: #0a8575;
    transform: scale(1.3) rotate(-10deg);
    text-shadow: 0 0 10px #00ffd0;
}


